@page
@using easyshifthq.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model easyshifthq.Web.Components.InviteMemberModalModel
@inject IHtmlLocalizer<easyshifthqResource> L

<abp-modal centered="true" size="Large" id="InviteMemberModal">
    <abp-modal-header title="@L["InviteMember"]"></abp-modal-header>
    <abp-modal-body>
        <form id="InviteMemberForm">
            <abp-input asp-for="FirstName" required="true" />
            <abp-input asp-for="LastName" required="true" />
            <abp-input asp-for="Email" type="email" required="true" />
            <abp-select asp-for="Role" asp-items="@Model.Roles" required="true" />
            <abp-select asp-for="LocationId" asp-items="@Model.Locations" required="true" />
        </form>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
</abp-modal>